nav ul, footer ul {
    padding: 20px;
    list-style: none;
    font-weight: bold;
    color: #F2F2F2; !important
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    text-decoration: bold;
}
p {
    color: #333;
    font-family: 'Open Sans', sans-serif; !important
    font-size: 1em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .9em;
}
/* Style the navbar */
navbar {
  overflow: hidden;
}
/* Navbar links */
navbar a {
  float: left;
  display: block;
  color: #f2f2f2; !important 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
school ul{
    font-size: .8em;
    line-height: .95em;
}
school p{
    font-size: .8em;
    line-height: .95em;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row{
    padding: 5px;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}
/* Page content */
.content {
  padding: 16px;
}
