nav ul, footer ul {
    /* font-family: 'Archivo', sans-serif; */
    padding: 20px;
    list-style: none;
    font-weight: bold;
    color: #F2F2F2; !important
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 1.8em;
    /*font-family: 'Archivo', sans-serif;*/
}
p {
    color: #333;
    font-family: 'Open Sans', sans-serif; !important
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .9em;
}
/* Style the navbar */
nav {
  overflow: hidden;
}
/* Navbar links */
nav li.nav-item{
  float: left;
  display: block;
  font-size: 14px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav ul.navbar-nav{
    float: left;
    display: block;
    font-size: 14px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
/* Column and row styling */
div{
    border: 1px solid gray;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row:after {
  content: "";
  clear: both;
  display: table;
}
/* Page content */
.content {
  padding: 16px;
}
