nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 20px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.1em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
/* Style the navbar */
#navbar {
  overflow: hidden;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #333333; !important
  text-align: center;
  padding: 14px;
  text-decoration: none;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
html {
    scroll-behavior: smooth;
}
.column {
  float: left;
  width: 50%;
  padding: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Page content */
.content {
  padding: 16px;
}
/* Image styling */
.images {
    text-align:center;
}
.images img {
    width:100px;
    height:100px;
}
.images div {
    width:100px;
    text-align:center;
}
.images div span {
    display:block;
}
.margin_right {
    margin-right:50px;
}
.float {
    float:left;
}
.clear {
    clear:both;
    height:0;
    width:0;
}
.block {
  display: inline-block;
  width: 200px;
  height: 200px;
  background-color: lightgray;
}

.container {
  text-align: center;
}
.block img {
    height:100px;
    width:100px;
}
